@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E4D3CF;
}

input {
    outline: none;
}

::selection {
    background-color: #E2BCB7;
}

::marker {
    /* color: #91BF8F; */
}

a {
    color: black;
    text-decoration: none;
}

/* positoion */
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.column {
    flex-direction: column;
}
.center {
    justify-content: center;
}
.v_center {
    align-items: center;
}
.btw {
    justify-content: space-between;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}

/* other */
.pointer {
    cursor: pointer;
}

.font_1 {
    font-family: 'Montserrat', sans-serif;
}
.font_2 {
    font-family: 'Roboto Slab', serif;
}


.top_menu {
    top: 0;
    width: 70%;
    height: 100px;
    z-index: 10;
    background-color: #E4D3CF;
    box-shadow: 0 -6px 0 6px #E4D3CF,
                0 6px 0 0 black;
    transition: .5s;
}
.top_menu.hidden {
    top: -106px;
    opacity: 0;
    transition: .5s;
}
.logo {
    font-size: 48px;
}
.logo_d {
    z-index: 20;
    font-size: 64px;
    top: 50%;
    margin: -59px 0 0 0;
    width: 100%;
    opacity: 1;
    transition: .5s;
}
.logo_d.hidden {
    z-index: 0;
    opacity: 0;
    transition: .2s;
}
@keyframes arr_animate {
    0% {
        margin: 20px 10px 0 0;
    }
    50% {
        margin: 10px 10px 10px 0;
    }
    100% {
        margin: 20px 10px 0 0;
    }
}
.menu_icon.arrow_animation {
    animation: 1.5s arr_animate infinite;
}
.menu_icon {
    width: 56px;
    height: 56px;
}
.menu_icon div {
    width: 40px;
    height: 2.5px;
    border-radius: 0px;
    background-color: black;
}
.menu_icon div:first-child {
    transform: rotateZ(45deg) translateY(-7px) translateX(7px);
}.menu_icon div:last-child {
    transform: rotateZ(-45deg);
}
.menu_block:hover > .menu {
    top: 90px;
    height: 250px;
    padding: 10px 0 10px 0;
    transition: .3s;
}
.menu_block:hover .menu > .menu_symbol {
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: .3s;
}
.menu_block:hover .menu .menu_symbol > .stick_1 {
    transform: rotate(0deg) translateY(12px);
}
.menu_block:hover .menu .menu_symbol > .stick_2 {
    transform: rotate(0deg) translateY(12px);
    transition: .3s;
}
.menu {
    top: -85px;
    box-shadow: 0 6px 0 0 black;
    padding: 20px 0px 0px 0px;
    width: 320px;
    height: 250px;
    background-color: #E4D3CF;
    font-size: 22px;
    transition: .3s;
    box-shadow: 0 6px 0 0 black;
}
/* COOL COLOR #91BF8F */
.menu_block:hover .menu > div:not(:last-child, :first-child) {
    opacity: 1;
    transition: .3s;
}
.menu > div:not(:last-child, :first-child) {
    text-align: left;
    margin: 0 0 0 15px;
    opacity: 0;
    transition: .3s;
}
.menu_header {
    width: 100%;
    margin: 0 0 0 15px;
    text-align: left;
    font-size: 32px;
}
.menu_symbol {
    width: 100%;
    height: 100px;
    justify-content: right;
    padding: 5px 0 0 0;
    margin: 0 0 0 0;
    transition: .3s;
}
.menu_symbol > div {
    height: 5px;
    width: 50px;
    background-color: black;
    transition: .3s;
}
.menu_symbol > .stick_1 {
    transform: rotate(45deg) translateX(13px);
}
.menu_symbol > .stick_2 {
    transform: rotate(-45deg) translateX(-13px);
}

.main {
    width: 70%;
    top: 45%;
    transition: .5s;
    opacity: 0;
    z-index: 5;
}
.main.move {
    opacity: 1;
    top: 35%;
    transition: .5s;
}
.block {
    padding: 60px 0 0 0;
}
.block:nth-child(2n) {
    align-items: flex-end;
    text-align: right;
}
h1 {
    /* text-decoration: underline 6px solid #91BF8F; */
    margin: 30px 0 0 0;
    font-size: 44px;
    font-weight: 400;
    text-decoration: underline 6px solid black;
}
h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0;
    max-width: 80%;
}
.lines {
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
}
.green_line {
    width: 70px;
    height: 6px;
    background-color: #9E9D89;
}
.black_line {
    margin: 10px 0 10px 0;
    width: 210px;
    height: 6px;
    background-color: black;
}



.slider_container {
    width: 100%;
    overflow-x: auto;
    padding: 30px 0 30px 0;
}
.slider_block {
    min-width: 300px;
    min-height: 300px;
    background-color: #9E9D89;
    border: 6px solid black;
}
.slider_block:not(:last-child) {
    margin: 0 40px 0 0;
}
.slider_block > .photo {
    min-height: 55%;
    background-size: cover;
    background-position: 50% 50%;
    border-bottom: 6px solid black;
    box-shadow: inset 0 0 0 6px #9E9D89;
}
.slider_block > .text {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0 5px 15px;
    font-size: 26px;
}
.slider_block > .price {
    text-align: left;
    margin: 0px 0 10px 15px;
    font-size: 20px;
}


.bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(60px, auto);
    margin: 100px 0 0 0;
    padding: 15px 0 15px 0;
    border-top: 6px solid black;
    width: 100%;
}
.bottom .header {
    font-size: 32px;
}
.bottom > div:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
}
.bottom > div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
}
.bottom > div:nth-child(3) {
    justify-content: flex-start;
    font-size: 24px;
}
.menu_bottom {
    justify-content: flex-start;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 24px;
}
.author {
    border-top: 6px solid black;
    margin: 30px 0 0 0;
    padding: 20px 0 10px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 24px;
}


.call_me_back_form {
    opacity: 0;
    z-index: 0;
    width: 450px;
    top: 50%;
    left: 50%;
    margin: -243.5px 0 0 -261px !important;
    background-color: #9E9D89;
    border: none;
    padding: 30px 30px 30px 30px;
    transition: .3s;
}
.call_me_back_form.active {
    box-shadow: 0 0 0 6px black,
                0 0 100px 1px black;
    transition: .3s;
    opacity: 1;
    z-index: 20;
}
.call_me_back_form > .form_header {
    font-size: 40px;
    margin: 20px 0 20px 0;
}
.call_me_back_form > .form_question {
    font-size: 32px;
    margin: 20px 0 20px 0;
}
.call_me_back_form > input[type="text"] {
    width: 100%;
    height: 60px;
    margin: 0 0 10px 0;
    border: none;
    background-color: transparent;
    color: black;
    border-bottom: 6px solid black;
    font-size: 26px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
}
.call_me_back_form > input::placeholder {
    color: black;
}
.call_me_back_form > input[type="submit"] {
    width: 101%;
    height: 70px;
    text-align: center;
    border: 6px solid black;
    margin: 20px 0 0 0;
    background-color: #E4D3CF;
    font-size: 32px;
}
.call_me_back_form div > input[type="radio"] {
    width: 35px;
    height: 35px;
    appearance: none;
    border: 5px solid black;
    border-radius: 20px;
    background-color: #91BF8F;
    margin: 0 15px 0 0;
}
.call_me_back_form div > input[type="radio"]:checked {

    background-color: #8C1C03;
}
.call_me_back_form > .form_radio {
    width: 100%;
    margin: 0 0 10px 0;
}
.call_me_back_form > .form_radio div:first-child {
    margin: 0 20px 0;
}
.call_me_back_form > .form_radio div span {
    font-size: 20px;
}
.close {
    font-size: 48px;
    width: 100%;
    height: 0;
    top: -25px;
    right: -5px;
    text-align: right;
}



@media screen and (max-width: 1100px) {
    .bottom > div:first-child {
        font-size: 56px;
        margin: 10px 0 10px 0;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .bottom > div:nth-child(2) {
        font-size: 56px;
        margin: 20px 0 10px 0;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
    }
    .bottom > div:nth-child(3) {
        margin: 10px 0 10px 0;
        justify-content: flex-start;
        font-size: 40px !important;
    }
    .menu_bottom {
        margin: 10px 0 10px 0;
        justify-content: flex-start;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 40px;
    }
    .author {
        border-top: 6px solid black;
        margin: 30px 0 0 0;
        padding: 20px 0 10px 0;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 40px;
    }
    .call_me_back_form {
        width: 600px;
        left: 50%;
        margin-left: -330px !important;
    }
    .call_me_back_form > input[type="text"] {
        height: 100px;
        font-size: 48px;
    }
    .call_me_back_form > input[type="submit"] {
        height: 100px;
        font-size: 48px;
    }
    .form_header {
        font-size: 56px !important;
    }
    .close {
        top: -40px;
        font-size: 90px;
    }
    .slider_block {
        height: 500px;
        min-width: 500px;
    }
    .slider_block > .text {
        font-size: 48px;
    }
    .slider_block > .price {
        font-size: 32px !important;
    }
    .menu_block {
        display: none;
    }
    .top_menu {
        padding: 20px 0 20px 0;
        width: 80%;
    }
    .logo {
        font-size: 64px !important;
    }
    .logo_d {
        font-size: 96px;
    }
    .logo_d > div:nth-child(2) {
        font-size: 48px !important;
        margin: 0 0 30px 0;
    }
    .main {
        width: 80%;
    }
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 40px;
        max-width: 100%;
    }
}


/* ::-moz-scrollbar {
    width: 6px;
    height: 6px;
}
::-moz-scrollbar-track {
    background-color: #E2BCB7;
    border-radius: 0px !important;
}
::-moz-scrollbar-thumb {
    border-radius: 0px;
    background-color: black;
} */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background-color: #E2BCB7;
    border-radius: 0px !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: black;
}
