<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>kuznetsovv</title>
        <link rel="stylesheet" href="{% static '../static/css/template_1.css' %}">
    </head>
    <body>
        <div class="flex column v_center absolute font_1 light logo">
            <div>
                kuznetsovv
            </div>
            <div class="font_2">
                мы делаем сайты
            </div>
            <div class="menu_icon flex v_center relative arrow_animation" style="margin-right: 10px; top: -10px;">
                <div></div>
                <div></div>
            </div>
            <div class="menu_icon flex v_center relative arrow_animation" style="margin-right: 10px; top: -65px;">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="flex fixed center light font_1 logo_bar hidden">
            <div class="logo_inside">
                kuznetsovv
            </div>
        </div>
        <div class="main">
            <div class="flex column relative font_2 light info_container info hidden">
                <div class="header">
                    Какие сайты мы делаем?
                </div>
                <div>
                    От сайтов-визиток до интернет-магазинов: нет ничего невозможного, любая задача будет решена
                </div>
            </div>
            <div class="flex column v_center relative font_2 text_center light info_center hidden">
                <div class="header">
                    Почему именно мы?
                </div>
                <div>
                    на то есть несколько причин
                </div>
                <div class="flex column v_center relative font_2 text_center light hidden">
                    <div class="menu_icon flex v_center relative arrow_animation" style="margin-right: 10px; top: -10px;">
                        <div></div>
                        <div></div>
                    </div>
                    <div class="menu_icon flex v_center relative arrow_animation" style="margin-right: 10px; top: -65px;">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div>
                
            </div>
            <div class="flex column relative font_2 light info_container info hidden">
                <div class="header">
                    Качество
                </div>
                <div>
                    Индивидуальный подход к каждому клиенту: вы получите свой эксклюзивный дизан, разработанный нами (а можете выбрать из <span style="background-color: #333333; color: #eeeeee;" class="pointer ">предложенных</span>)
                </div>
            </div>
            <div class="flex column relative font_2 light info_container info hidden">
                <div class="header">
                    Скорость
                </div>
                <div>
                    Сайт может быть готов уже через <span style="background-color: #333333; color: #eeeeee;" class=" ">2 дня</span> - всё зависит от задачи
                </div>
            </div>
            <div class="flex column relative font_2 light info_container info hidden">
                <div class="header">
                    Готовы заказать?
                </div>
                <div>
                    Заказать.
                </div>
            </div>
        </div>
        <div class="fixed">

        </div>
        <div class="bottom light font_1">
            Designed by <a class="light bottom_link" style="text-decoration: none;" href="https://vk.com/kyzynya" target=»_blank>kuznetsovv</a>, 2021
        </div>
        <script src="{% static '../static/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static '../static/js/template_1.js' %}"></script>
    </body>
</html>